/* ********************************************** */
/* General */
/* ********************************************** */
.segment_components{
	display: none;
}

/* ********************************************** */
/* Live display of current sequence in top right */
/* ********************************************** */
.live_output{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 33%;
	max-width: 600px;
	padding: 0 20px;
}
.watch_wrapper{
	width: 100%;
}
.watch_wrapper svg{
	width: 100%;
}
.watch_wrapper .lcd_segment{
	opacity: 0.1;
	fill: #304246;
}
.watch_wrapper .lcd_segment.on{
	opacity: 1;
}
.watch_triggers{
	position: absolute;
	left: 20px;
	top: 0;
	bottom: 0;
	right: 20px;
}
.watch_button{
	border-radius: 100%;
	background: white;
	position: absolute;
	width: 16%;
	height: 16%;
	opacity: 0;
	mix-blend-mode: overlay;
	transform: translate(-50%, -50%);
}
.watch_button:hover{
	opacity: 0.5;
}
.watch_button:focus{
	opacity: 1;
	background: greenyellow;
}
.watch_button_light{left:    1%; top: 38.5%;}
.watch_button_mode {left:    1%; top: 61.0%;}
.watch_button_alarm{left: 98.5%; top: 61.0%;}


/* ********************************************** */
/* Sequences */
/* ********************************************** */
main{
	padding: 20px;
}

.sequence_prototype{
	display: none !important;
}
.sequence_step_prototype{
	display: none !important;
}

.sequence{
	background:rgba(255,255,255,0.25);
	width: 100%;
	min-height: 100px;
	margin: 0 10px;
	position: relative;
	display: flex;
	flex-direction: column;
}
.sequence_steps{
	padding: 10px 0 0 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}
.sequence_data{
	background: rgba(0,0,0,0.7);
	padding: 10px 15px;
	display: flex;
	align-items: start;
	justify-content: space-between;
	z-index: 10;
}

.add_step{
	border-radius: 12px;
	width:40px;
	height: 40px;
	color: rgba(255,255,255,0.2);
	font-size: 28px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.2);
	text-decoration: none;
}
.add_step:hover{
	background: rgba(0,0,0,0.6);
	color: rgba(255,255,255,0.8);
	cursor: pointer;
}

.sequence_options a{
	color: white;
}

/* ********************************************** */
/* Individual sequence step */
/* ********************************************** */

.sequence_step{
	margin: 40px 10px 40px 0;
	position: relative;
}

.watch_face{
	background: rgba(255,255,255,0.4);
	width: 300px;
	padding: 10px;
	border-radius: 12px;
	position: relative;
	z-index: 20;
}
.watch_face .lcd_segment{opacity: 0.15;}
.watch_face .lcd_segment.hover{opacity: 0.7;}
.watch_face .lcd_segment.on{opacity: 1;}

.step_data{
	background: rgba(0,0,0,0.4);
	border-radius: 12px;
	position: absolute;
	left: 0;
	top :-30px;
	bottom: -30px;
	right: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.step_hardware{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
}
.led_button{
	text-decoration: none;
	text-indent: -9404px;
	background: white;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	border: 3px solid;
	margin-right: 4px;
}
.led_0{border-color: rgb(172,255,48,0.3); background:rgba(172, 255, 48, 0.15);}
.led_1{border-color: rgb(253,10,10,0.3); background:rgb(253, 10, 10, 0.15);}

.led_0:hover, .led_0.on:hover{border-color: white;}
.led_1:hover, .led_1.on:hover{border-color: white;}

.led_0.on{border-color: rgb(172,255,48,1); background:rgba(172, 255, 48, 0.8);}
.led_1.on{border-color: rgb(253,10,10,1); background:rgb(253, 10, 10, 0.8);}

.step_parameters{
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30px;

}
.duration:after{content: "ms";}
.duration:hover{background: rgba(255,255,255,0.2);}

.edit_options{display: flex;}
.edit_options a{
	display: block;
	text-decoration: none;
	padding: 2px;
	background: rgba(255,255,255,0.3);
	margin-right: 4px;
	
}


.editable{padding:2px 4px;}
.editable:hover{background: rgba(255,255,255,0.2);}
.editable:focus{background: rgb(254, 255, 189); outline: none; color: black;}