/* ********************************************** */
/* General */
/* ********************************************** */
.segment_components{
	display: none;
}

/* ********************************************** */
/* Live display of current sequence in top right */
/* ********************************************** */
.live_output{
	position: fixed;
	top: 120px;
	right: 30px;
	width: 33%;
	max-width: 600px;
	padding: 0 20px;
}
.watch_wrapper{
	width: 100%;
}
.watch_wrapper svg{
	width: 100%;
}
.watch_wrapper .lcd_segment{
	opacity: 0.1;
	fill: #304246;
}
.watch_wrapper .lcd_segment.on{
	opacity: 1;
}
.watch_triggers{
	position: absolute;
	left: 20px;
	top: 0;
	bottom: 0;
	right: 20px;
}
.watch_button{
	border-radius: 100%;
	background: white;
	position: absolute;
	width: 16%;
	height: 16%;
	opacity: 0;
	mix-blend-mode: overlay;
	transform: translate(-50%, -50%);
}
.watch_button:hover{
	opacity: 0.5;
}
.watch_button.pressed{
	opacity: 1;
	background: greenyellow;
}
.watch_button_light{left:    1%; top: 38.5%;}
.watch_button_mode {left:    1%; top: 61.0%;}
.watch_button_alarm{left: 98.5%; top: 61.0%;}

.watch_wrapper .led{opacity:0;}
.watch_wrapper .led.on{opacity:0.7;}

.is_playing .play{
	background-color: greenyellow !important;
	filter: none;
}
.is_playing .play::after{
	content:"ing";
}
.is_playing .play:hover{
	filter: none;
	border-bottom-color:white;
	background-image:url("../assets/images/pause.svg");
}

/* ********************************************** */
/* Connect button */
/* ********************************************** */

.connect{
	display: block;
	padding-left: 1.8em;
}
.connect::before{
	content: '';
	width: 10px;
	height: 10px;
	top: calc(50% - 5px);
	left: 8px;
	background: black;
	position: absolute;
	border-radius: 100%;
}
.connect.is-connecting{background: rgb(230, 230, 230);}
.connect.is-connecting:after{content:"ing...";}
.connect.is-connecting:before{
	animation: pulse-connecting 0.3s linear infinite alternate;
	filter: invert(100%);
}
@keyframes pulse-connecting { from { background: rgb(45, 118, 255); } to { background: rgb(0, 30, 85); }  }

.connect.is-connected:after{content:"ed!";}
.connect.is-connected:before{
	background: greenyellow;
	animation: pulse-connected 0.7s ease-out infinite alternate;
	filter: invert(100%);
}
@keyframes pulse-connected { from { background: rgb(173, 255, 47); } to { background: rgb(104, 172, 1); }  }



/* ********************************************** */
/* Sequences */
/* ********************************************** */

main{
	padding: 20px 20px 0 20px;
}

.add_sequence{
	background: rgb(255 255 255 / 12%);
	color: rgba(255,255,255,0.3);
	margin: 0 20px 10px 20px;
	display: block;
	padding: 10px;
	text-decoration: none;
	box-sizing: border-box;
	text-align: center;
	font-size: 18px;
	border: 3px dashed rgb(255 255 255 / 20%);
}
.add_sequence:hover{
	background: rgb(0 0 0 / 45%);
	color: rgb(255 255 255 / 73%);
	border-color: transparent;
}

.sequence_template{
	display: none !important;
}
.sequence_step_template{
	display: none !important;
}

.sequence{
	background:rgba(255,255,255,0.25);
	width: 100%;
	margin: 0 10px 20px 0;
	position: relative;
	display: flex;
	flex-direction: column;
}

.sequence.active{
	border-left: 2px solid greenyellow;
}

.sequence_data{
	background: rgba(0,0,0,0.7);
	padding: 0;
	display: flex;
	flex-direction: column;
	z-index: 10;
}
.sequence_data .name{
	margin-left: 15px;
	font-weight: 500;
}

.sequence_data .title_row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/* ********************************************** */
/* Triggers */
/* ********************************************** */

.triggers_row{
	margin: 2px 5px 8px 17px;
	padding-top: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 300;
	font-size: 14px;
	border-top: 1px solid rgba(255,255,255,0.3);
}
.triggers_row .intro{margin-right: 15px;}
.triggers_row label{margin-left: 10px;}
.triggers_row select{margin-left: 5px; max-width: 100px;}

.button_actions{
	display: flex;
	align-items: center;
}

/* ********************************************** */
/* Sequences menus */
/* ********************************************** */

.sequence_editing{
	margin-right: 5px;
}
.sequence_editing a{
	border-radius: 5px;
	font-size: 14px;
	background-color: transparent;
	padding: 0.5em 0.5em;
	border: none;
}

.sequence_options{
	margin: 5px;
}
.sequence_options a{
	font-size: 16px;
	background-color: transparent;
	border: none;
	padding:0.5em;
}
.sequence_options .minimise{background-image:url("../assets/images/up_arrow.svg");}

.sequence.minimised .triggers_row{display: none;}
.sequence.minimised .sequence_steps{display: none; height: 15px;}
.sequence.minimised .sequence_data{border-bottom: 10px solid rgba(255,255,255,0.25);}
.sequence.minimised .sequence_options .minimise{background-image:url("../assets/images/down_arrow.svg");}

/* ********************************************** */
/* Steps containers */
/* ********************************************** */

.sequence_steps{
	padding: 10px 0 0 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}

.add_step{
	border-radius: 12px;
	width:40px;
	height: 40px;
	color: rgba(255,255,255,0.2);
	font-size: 28px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.2);
	text-decoration: none;
	margin-bottom: 10px;
}
.sequence_step + .add_step{
	margin-bottom: 0px;
}
.add_step:hover{
	background: rgba(0,0,0,0.6);
	color: rgba(255,255,255,0.8);
	cursor: pointer;
}

/* ********************************************** */
/* Individual sequence step */
/* ********************************************** */

.sequence_step{
	margin: 10px 10px 40px 0;
	position: relative;
}

.watch_face{
	background: rgba(255,255,255,0.4);
	width: 300px;
	padding: 10px 10px 10px 30px;
	border-radius: 12px;
	position: relative;
	z-index: 20;
}
.watch_face .lcd_segment{opacity: 0.15;}
.watch_face .lcd_segment.hover{opacity: 0.7;}
.watch_face .lcd_segment.on{opacity: 1;}

.step_data{
	background: rgba(0,0,0,0.4);
	border-radius: 12px;
	position: absolute;
	left: 0;
	top :0px;
	bottom: -30px;
	right: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sequence_step.active .step_data{
	outline: 2px solid greenyellow;
}

.step_leds{
	position: absolute;
	inset: 0 auto 0 0;
	display: flex;
	flex-direction: column;
	z-index: 100;
	padding: 18px 0 18px 12px;
}

.step_hardware{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
}
.led_button{
	text-decoration: none;
	text-indent: -9404px;
	background: white;
	width: 12px;
	flex-grow: 1;
	margin: 2.5px 0;
	opacity: 0.25;

	--led-green: rgba(172, 255, 48, 0.8);
	--led-red: rgba(253, 10, 10, 0.8);
	--led-blue: rgba(22, 244, 255, 0.8);
}

.led_0{background: var(--led-green); border-radius: 6px 6px 0 0;}
.led_1{background: var(--led-red); border-radius: 0 0 6px 6px;}
.red_blue_leds  .led_0{background: var(--led-blue);}
.red_blue_leds  .led_1{background: var(--led-red);}

.led_0.on{box-shadow: 0 0 25px 4px var(--led-green);}
.led_1.on{box-shadow: 0 0 25px 4px var(--led-red);}
.red_blue_leds .led_0.on{box-shadow: 0 0 25px 4px var(--led-blue);}
.red_blue_leds .led_1.on{box-shadow: 0 0 25px 4px var(--led-red);}

.led_button.on{opacity: 1;}


.buzzer{display: none;}
.show_sound .buzzer{display: block;}

.step_parameters{
	padding: 0 0 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30px;

}
.duration:after{content: "ms";}
.duration:hover{background: rgba(255,255,255,0.2);}

.edit_options{
	margin-right: 5px;
}
nav.edit_options a{
	font-size: 12px;
	background-color: transparent;
	border: none;
	padding:0.35em;
	border-radius: 5px;
	margin-left: 2px;
}

.editable{padding:2px 4px;}
.editable:hover{background: rgba(255,255,255,0.2);}
.editable:focus{background: rgb(254, 255, 189); outline: none; color: black;}