html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
a{
	color:blue;
}
body{
	background-color: rgb(19, 44, 61);
	color: rgb(246, 246, 246);
	font-family: "Roboto", sans-serif;
}


.wrapper{
	position: relative;
	width: 100%;
	max-width: max(100% - 690px, calc(66% - 80px));
}

main{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;

	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

/* Warning banner */

.api_warning{
	background:rgb(220, 43, 12);
	color: white;
	padding: 15px;
	font-weight: 300;
}
.api_warning strong{
	font-weight: 500;
}
.api_warning::before{
	content: '⚠️ ';
}

/* Logo menu */
.header{
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 0 20px;
}
.logo_menu{
	display: flex;
	justify-content: start;
	align-items: center;
	z-index: 200;
}
.logo_menu img{
	width: 50px;
	opacity: 0.9;
	display: block;
	margin-bottom: 0.4em;
	filter: invert(100%);
}
.logo_menu h1{
	margin:0 0 0 10px;
	font-size: 22px;
	font-weight: 300;
}
.logo_menu h1 a{
	color: white;
	text-decoration: none;
}
.logo_menu h1 a:hover{
	text-decoration: underline;
}

.primary_nav{
	display: flex;
	align-items: center;
}


/* ********************************************** */
/* Primary nav menu */
/* ********************************************** */

.primary_nav a{
	color: black;
	background-color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-weight: 500;
	margin: 0 0 0 5px;
	padding: 0.5em 0.7em;
	position: relative;
	text-indent: -9767px;
	background-size: 28px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: block;
	width: 20px;
	height: 20px;
	filter: invert(100%);
	opacity: 0.9;
	line-height: 20px;
	font-size: 16px;
	border-bottom: 3px solid transparent;
}
.primary_nav a:not(.disabled):hover{
	background-color: rgba(255, 255, 255, 1);
	border-bottom-color:black;
}
.primary_nav a:not(.disabled):focus{
	filter: none;
	opacity: 1;
	border-bottom-color:black;
	background-color: rgba(255,255,255,1);
}

.primary_nav .play{background-image:url("../assets/images/play.svg"); text-indent:0px; width: auto; padding-left: 38px; background-position-x: 8px; background-size: 25px;}
.primary_nav .undo{background-image:url("../assets/images/undo.svg");}
.primary_nav .undoundo{background-image:url("../assets/images/redo.svg");}

.primary_nav a.disabled{opacity:0.3; cursor: default;}

.primary_nav .play.is_playing{
	background-color: greenyellow;
	filter: none;
}
.primary_nav .play.is_playing:hover{
	border-bottom-color:white;
	background-image:url("../assets/images/pause.svg");
}



/* ********************************************** */
/* Sequences nav menu */
/* ********************************************** */

.sequences_nav{
	padding: 10px 20px 0 20px;
	display: flex;
}
.sequences_nav a{
	color: black;
	background-color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-weight: 500;
	margin: 0 5px 0 0;
	padding: 0.5em 0.7em 0.5em 38px;
	position: relative;
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 8px 50%;
	display: block;
	height: 20px;
	filter: invert(100%);
	opacity: 0.9;
	line-height: 20px;
	font-size: 16px;
	border-bottom: 3px solid transparent;
}
.sequences_nav .add_sequence{background-image:url("../assets/images/add.svg");}
.sequences_nav .import{background-image:url("../assets/images/archive.svg");}
.sequences_nav .export{background-image:url("../assets/images/share.svg");}

.sequences_nav a:not(.disabled):hover{
	background-color: rgba(255, 255, 255, 1);
	border-bottom-color:black;
}
.sequences_nav a:not(.disabled):focus{
	filter: none;
	opacity: 1;
	border-bottom-color:black;
	background-color: rgba(255,255,255,1);
}





a.connect{
	padding-right: 25px;
}
a.connect::before{
	content: '';
	width: 10px;
	height: 10px;
	top: calc(50% - 5px);
	right: 8px;
	background: red;
	position: absolute;
	border-radius: 100%;
}
a.connect.connected::before{
	background:greenyellow;
}


/* Logger */
.log-container{
	width: 400px;
	background: rgba(8,8,8,0.25);
	display: flex;
   flex-direction: column;
	align-self: stretch;
	transition: width 0.3s ease-out;
	position: relative;


	display: none;
}

.show_settings{
	position: absolute;
	background: rgba(8,8,8,0.25);
	text-decoration: none;
	width: 25px;
	font-size: 0.8em;
	left: -30px;
	top: 18px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.show_settings:hover{
	background: white;
}

.log-container.hide-log{
	width: 0vw;
}
.log-container.hide-log .show_settings{
	display: none;
}


.log{
	padding: 20px;
	overflow-y: scroll;
	-ms-scrollbar-color: white rgba(8,8,8,0.4);
	scrollbar-color: white rgba(8,8,8,0.4);
	height: 100%;
	font-family: "IBM Plex Mono", monospace;
	font-size: 0.8em;
	font-weight: 400;
	overflow-x: hidden;
	box-sizing: border-box;
}
.log p{
	margin: 0;
	height: 21px;
	line-height: 21px;
	white-space: nowrap;
}
.log::-webkit-scrollbar{background: rgba(8,8,8,0.4);}
.log::-webkit-scrollbar-thumb, .log::-webkit-scrollbar-button{background: white;}
.log::-webkit-scrollbar-button{height: 0px;}

.log p.status span{color:white;}
.log p.error span.msg{color:red;}
.log p.error span.msg::before{content: "⚠️ ";}
.log p.ping span{color:rgba(255,255,255,0.6);}
.log p::after{padding-left: 7px;}
.log p.is_validated::after{content: "✅";}
.log p.is_retrying::after{content: "⏳";}
.log p.is_failed{cursor: pointer;}
.log p.is_failed:hover::after{content: "🔁"; color:lightblue;}
.log p.is_failed::after{content: "❌";}

.log .time{opacity: 0.3;}
.log p:hover .time{opacity: 1;}
.log p:not(.input) + p.input, .log p:not(.external_input) + p.external_input{margin-top: 0.8em;}

.log p.error{display:none;}
.log p.ping{display:none;}
.log.show_errors p.error{display: block;}
.log.show_pings p.ping{display: block;}

.log .setting{display: none;}
.filter-settings .setting{display: block;}

/* Options buttons */
.options{
	display:flex;
	justify-content: left;
	margin: 0.5em 1em;
}
.options a{
	color: white;
	font-size: 0.8em;
	margin: 0.5em;
	text-decoration: none;
	background: rgba(0,0,0,0.3);
	padding: 0.4em 1em;
	border-radius: 10px;
	border: 2px solid rgba(0,0,0,0.4);
}
.options a:hover{
	background: rgba(0,0,0,0.8);
}
.options a:focus{
	background: rgba(241, 241, 241, 0.8);
	color: black;
}