html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
a{
	color:blue;
}
body{
	background-color: rgb(19, 44, 61);
	color: rgb(246, 246, 246);
	font-family: "Roboto", sans-serif;
}

.wrapper{
	position: relative;
	width: 100%;
	max-width: max(100% - 690px, calc(66% - 80px));
}

/* ********************************************** */
/* Warning banner */
/* ********************************************** */

.api_warning{
	background:rgb(220, 43, 12);
	color: white;
	padding: 15px;
	font-weight: 300;
}
.api_warning strong{
	font-weight: 500;
}
.api_warning::before{
	content: '⚠️ ';
}

/* ********************************************** */
/* Common button styling */
/* ********************************************** */

nav{display: flex; align-items: center;}

nav a{
	color: black;
	background-color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-weight: 500;
	margin: 0 5px 0 0;
	padding: 0.5em 0.5em 0.5em 2.5em;
	position: relative;
	background-size: 1.5em;
	background-repeat: no-repeat;
	background-position: 0.5em 50%;
	display: block;
	height: 1.2em;
	width: auto;
	filter: invert(100%);
	opacity: 0.9;
	line-height: 1.2em;
	border-bottom: 0.15em solid transparent;
	font-size: 16px;
}
nav :not(.disabled):hover{
	background-color: rgba(255, 255, 255, 1);
	border-bottom-color:black;
}
nav :not(.disabled):focus{
	filter: none;
	opacity: 1;
	border-bottom-color:white;
	background-color: rgba(255,255,255,1);
}

nav .disabled{opacity:0.3; cursor: default; background-color:transparent;}

nav.lighter a{background-color: rgba(255, 255, 255, 0.25);}

nav.inverted a{filter:none; background-color: rgba(255,255,255,0.5); border: none;}
nav.inverted a:not(.disabled):hover{filter:invert(100%); background-color: rgba(255,255,255,0.8);}

nav.right_align{justify-content: flex-end;}
nav.right_align a{margin: 0 0 0 5px;}

nav .icon_only{text-indent: -9273px; width:1.2em; padding:0.5em 0.8em; background-position: 50% 50%; background-size: 1.6em;}

nav .play{background-image:url("../assets/images/play.svg");}
nav .undo{background-image:url("../assets/images/undo.svg");}
nav .undoundo{background-image:url("../assets/images/redo.svg");}
nav .add{background-image:url("../assets/images/add.svg");}
nav .import{background-image:url("../assets/images/archive.svg");}
nav .export{background-image:url("../assets/images/share.svg");}
nav .copy{background-image:url("../assets/images/copy.svg");}
nav .delete{background-image:url("../assets/images/delete.svg");}
nav .settings{background-image:url("../assets/images/settings.svg");}

select{
	border-radius: 4px;
	border: none;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	background: rgba(255,255,255,0.1);
	color: white;
	padding: 4px 4px;
	outline: none;
}
select option{
	background: rgba(254, 255, 189); 
	color: black;
	font-family: "Roboto", sans-serif;
}
select:focus{
	background: rgb(254, 255, 189); 
	color: black;
}

/* ********************************************** */
/* Logo menu */
/* ********************************************** */

.header{
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	position: relative;
	left: 0;
	right: 0;
	background: rgb(255,255,255,0.95);
	color: black;
	margin-bottom: 10px;
}
.logo_menu{
	display: flex;
	justify-content: start;
	align-items: center;
	z-index: 200;
}
.logo_menu img{
	width: 50px;
	opacity: 0.9;
	display: block;
	margin-bottom: 0.4em;
}
.logo_menu h1{
	margin:0 0 0 10px;
	font-size: 22px;
	font-weight: 300;
}
.logo_menu h1 a{
	color: black;
	text-decoration: none;
}
.logo_menu h1 a:hover{
	text-decoration: underline;
}

/* ********************************************** */
/* Sequences nav menu */
/* ********************************************** */

.sequences_nav{
	padding: 10px 20px 0 20px;
	display: flex;
	justify-content: space-between;
}
.sequences_nav a{
	font-size: 14px;
}

/* ********************************************** */
/* Connect menu */
/* ********************************************** */

a.connect{
	padding-right: 25px;
}
a.connect::before{
	content: '';
	width: 10px;
	height: 10px;
	top: calc(50% - 5px);
	right: 8px;
	background: red;
	position: absolute;
	border-radius: 100%;
}
a.connect.connected::before{
	background:greenyellow;
}

/* ********************************************** */
/* Logger */
/* ********************************************** */

.log-container{
	width: 400px;
	background: rgba(8,8,8,0.25);
	display: flex;
   flex-direction: column;
	align-self: stretch;
	transition: width 0.3s ease-out;
	position: relative;
	display: none;
}

.show_settings{
	position: absolute;
	background: rgba(8,8,8,0.25);
	text-decoration: none;
	width: 25px;
	font-size: 0.8em;
	left: -30px;
	top: 18px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.show_settings:hover{
	background: white;
}

.log-container.hide-log{
	width: 0vw;
}
.log-container.hide-log .show_settings{
	display: none;
}


.log{
	padding: 20px;
	overflow-y: scroll;
	-ms-scrollbar-color: white rgba(8,8,8,0.4);
	scrollbar-color: white rgba(8,8,8,0.4);
	height: 100%;
	font-family: "IBM Plex Mono", monospace;
	font-size: 0.8em;
	font-weight: 400;
	overflow-x: hidden;
	box-sizing: border-box;
}
.log p{
	margin: 0;
	height: 21px;
	line-height: 21px;
	white-space: nowrap;
}
.log::-webkit-scrollbar{background: rgba(8,8,8,0.4);}
.log::-webkit-scrollbar-thumb, .log::-webkit-scrollbar-button{background: white;}
.log::-webkit-scrollbar-button{height: 0px;}

.log p.status span{color:white;}
.log p.error span.msg{color:red;}
.log p.error span.msg::before{content: "⚠️ ";}
.log p.ping span{color:rgba(255,255,255,0.6);}
.log p::after{padding-left: 7px;}
.log p.is_validated::after{content: "✅";}
.log p.is_retrying::after{content: "⏳";}
.log p.is_failed{cursor: pointer;}
.log p.is_failed:hover::after{content: "🔁"; color:lightblue;}
.log p.is_failed::after{content: "❌";}

.log .time{opacity: 0.3;}
.log p:hover .time{opacity: 1;}
.log p:not(.input) + p.input, .log p:not(.external_input) + p.external_input{margin-top: 0.8em;}

.log p.error{display:none;}
.log p.ping{display:none;}
.log.show_errors p.error{display: block;}
.log.show_pings p.ping{display: block;}

.log .setting{display: none;}
.filter-settings .setting{display: block;}